<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="css/style.css" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    body
        h1 Mon site E-commerce de folie !!!
        if session.user
            .btn-toolbar(role="toolbar" aria-label="Toolbar with button groups")    
                if session.user.civility
                    if session.user.civility === 'H'
                        .btn-group.mr-2(role="group" aria-label="First group")
                            div Bonjour, Monsieur #{session.user.lastname}
                    else 
                        .btn-group.mr-2(role="group" aria-label="First group")
                            div Bonjour, Madame #{session.user.lastname}
                else 
                    .btn-group.mr-2(role="group" aria-label="First group")
                        div Bonjour, #{session.user.firstname}  
                .btn-group.mr-2(role="group" aria-label="First group")
                    a.btn.btn-danger(href="/disconnect") Déconnexion
            
        else   
            .btn-toolbar(role="toolbar" aria-label="Toolbar with button groups")
                .btn-group.mr-2(role="group" aria-label="First group")
                    a.btn.btn-info(href="/register") Inscription
                .btn-group.mr-2(role="group" aria-label="Second group")
                    a.btn.btn-info(href="/connexion") Connexion
                .btn-group(role="group" aria-label="Third group")
                    a.btn.btn-info(href="/connexion/google") Connexion compte google
            
        if messages.info
            .alert.alert-success(role="alert")
                strong #{messages.info}
        #carouselExampleCaptions.carousel.slide.carousel-fade(data-ride="carousel")
           
            .carousel-inner
                each product, key in products
                    if key == 0
                        .carousel-item.active
                            img.d-block.w-80(src=product.image alt="pics" class="pics")
                            .carousel-caption.d-none.d-md-block
                                h5 #{product.name}
                                p #{product.description}
                    else
                        .carousel-item                    
                            img.d-block.w-80(src=product.image alt="pics" class="pics")
                            .carousel-caption.d-none.d-md-block
                                h5 #{product.name}
                                p #{product.description}
                
            a.carousel-control-prev(href="#carouselExampleCaptions" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleCaptions" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next



        script(src=process.env.BROWSER_REFRESH_URL)
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
